.window-frame-handlebar {
  background: rgba(250, 250, 250, 0.8);
  width: 100%;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.handlebar-btn-wrapper {
  position: absolute;
  left: 5px;
  top: 0;
}

.handlebar-btn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 5px;
  padding: 5px;
}
