.app-launcher-toggler,
.app-launcher-power-btn,
.app-launcher-refresh-btn {
  width: 50px;
  height: 50px;
  margin-top: 12.5px;
  margin-left: 12.5px;
}

.app-launcher-toggler {
  float: left;
  font-size: 25px;
}

.app-launcher-power-btn {
  filter: hue-rotate(100deg);
}

.app-launcher-refresh-btn {
  filter: hue-rotate(200deg);
}
